/* /////////////////////////////////////////////////////////////////////////////
STATR-R viewer - web application style
///////////////////////////////////////////////////////////////////////////// */

/* -----------------------------------------------------------------------------
General
----------------------------------------------------------------------------- */

.center{
  text-align: center;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  height : 100px;
  display: block;
  margin: 20px auto ;
}

div.contain_all{
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

p{
  text-align: justify;
}

div.error div{
  color:red;
  font-weight: bold;
}

button#change_color {
  float:right;
}
/* -----------------------------------------------------------------------------
Nav
----------------------------------------------------------------------------- */

img.icon{
  height: 30px;
  margin-top: -5px
}

/* -----------------------------------------------------------------------------
Intro
----------------------------------------------------------------------------- */
a.no_style{
  text-decoration: none;
}

p.intro{
  margin-left: 10%;
  margin-right: 10%;
}

div.CG{
  margin-left: 10%;
  margin-right: 10%;
}


img.dif{
  width: 100%;
}
